VITE_FIREBASE_API_KEY=your_api_key_here
VITE_FIREBASE_AUTH_DOMAIN=db-toolbox-58d1d.firebaseapp.com
VITE_FIREBASE_DATABASE_URL=https://db-toolbox-58d1d-default-rtdb.asia-southeast1.firebasedatabase.app
VITE_FIREBASE_PROJECT_ID=db-toolbox-58d1d
VITE_FIREBASE_STORAGE_BUCKET=db-toolbox-58d1d.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=957810102903
VITE_FIREBASE_APP_ID=1:957810102903:web:e55c954ce22e37aed5ac72
